body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login {
    background-image: linear-gradient(to top right, rgb(30, 98, 143), rgb(0, 150, 150));
    width: 25%;
    padding: 20px;
    border-radius: 4px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form h2 {
    text-align: center;
    margin: 10px 0px;
}

.form label {
    font-weight: bold;
    margin-left: 2px;
    margin-bottom: 3px;
    font-size: 18px;
}

.form input {
    font-family: inherit;
    display: block;
    margin-bottom: 20px;
    padding: 12px 10px;
    border: 2px solid rgb(255, 177, 177);
    background-color: #2b739c;
    border-radius: 6px;
    outline: none;
    font-size: 17px;
    color: white;
}

.form button {
    border: 2px solid black;
    width: 100%;
    padding: 8px 55px;
    font-size: 20px;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
}

.form button:hover {
    background-color: rgb(54, 98, 156);
    color: beige;
    transition: 0.7s ease-in-out;
}

::placeholder {
    color: black;
}

.form__notAMember {
    font-size: 17px;
    margin-top: 12px;
    text-align: center;
}