body {
    background-color: white !important;
}

.p-cont {
    width: 60%;
    margin: 40px auto;
}

.p-cont h1 {
    font-size: 40px;
    color: rgb(51, 105, 107);
    margin-bottom: 20px;
}

.p-cont p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin-bottom: 30px;
}