.copyrightSection {
    font-family: sans-serif;
    background-color: #c2c2c2;
    text-align: center;
    padding: 5px;
    color: black;
    letter-spacing: 1px;
}

.copyright__year {
    margin-bottom: 5px;
    font-size: 17px;
}

.copyright__allReserved a {
    font-style: italic;
    text-decoration: none;
    color: rgb(88, 90, 90);
}