.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7B32B;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Hamburger Icon */

.nabar__hamburger {
    margin-left: 15px;
    cursor: pointer;
}

/* Navbar */

.navbar__items {
    width: 70%;
}

.navbar__items ul {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

.navbar__items ul li {
    list-style-type: none;
    margin: 0px 10px;
}

.navbar__items ul li a {
    text-decoration: none;
    padding: 8px 22px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

.navbar__items ul li a:hover {
    background-color: #2D1E2F;
    color: #A9E5BB;
    transition: all 0.5s ease-in-out;
}

/* User Account */

.navbar__userAccount {
    display: flex;
    margin-right: 15px;
}

.navbar__userAccount #showUserName {
    background-color: #2D1E2F;
    color: #A9E5BB;
    padding: 12px 35px;
    letter-spacing: 2px;
    border-radius: 4px;
}

/* Active button */

.active {
    background-color: #2D1E2F;
    color: #A9E5BB;
}