*
{
	padding:0px;
	margin:0px;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.booksBrands, .gadgetsBrands, .elecApplBrand, .kidsFunBrand, .foodStuffBrand, .MWFashionBrands, .groceryBrands, .artsCrtBrands
{
	padding: 10px;
}

.booksBrands h2, .gadgetsBrands h2, .elecApplBrand h2, .kidsFunBrand h2, .foodStuffBrand h2, .MWFashionBrands h2, .groceryBrands h2, .artsCrtBrands h2{
	margin-bottom: 10px;
}

.booksBrands div, .gadgetsBrands div, .elecApplBrand div, .kidsFunBrand div, .foodStuffBrand div, .MWFashionBrands div, .groceryBrands div, .artsCrtBrands div{
	width: 100%;
}

.booksBrands div img, .gadgetsBrands div img, .elecApplBrand div img, .kidsFunBrand div img, .foodStuffBrand div img, .MWFashionBrands div img, .groceryBrands div img, .artsCrfBrands div img{
	height: 100px;
	width: 300px;
	margin-left: 5px;
}